Lider.Native/Components/RS28/GIS/Samples/VCL/Delphi/View3D/Yeni klasör/m/CATI_MODEL.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="https://www.lideryazilim.com/GML" xmlns:g="https://www.lideryazilim.com/GML" xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0"><xsd:import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/><xsd:element name="LicadGIS" type="g:LicadGISType" substitutionGroup="gml:_FeatureCollection"/><xsd:element name="PROPERTIES" type="g:PROPERTIESType" substitutionGroup="gml:_Feature"/><xsd:complexType name="LicadGISType"><xsd:complexContent><xsd:extension base="gml:AbstractFeatureCollectionType"/></xsd:complexContent></xsd:complexType><xsd:complexType name="PROPERTIESType"><xsd:complexContent><xsd:extension base="gml:AbstractFeatureType"><xsd:sequence><xsd:element name="NESNEADI" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/><xsd:element name="GEOMETRY" type="gml:GeometryPropertyType" nillable="true" minOccurs="1" maxOccurs="1" /></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType></xsd:schema>